:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

body, p, h1 {
  margin: 0px;
}

/* ----------------- */

.font-1 {
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
}

.font-2 {
  font-size: 15px;
  font-weight: 400;
  font-family: 'Outfit', sans-serif;
  color: var(--grayish-blue);
}

/* ----- desktop ----- */


.card-bg {
  background-color: var(--light-gray);
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  max-width: 375px;
}

.card-content {
  max-width: fit-content;
  display: grid;
  gap: 20px;
  padding: 20px;
  background-color: var(--white);
  border-radius: 20px;
}

.card-content img {
  border-radius: 15px;
  display: block;
  max-width: 100%;
}

.description {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 10px;
}

.description h1 {
  font-size: 25px;
  max-width: 18ch;
  text-align: center;
  justify-self: center;
  word-wrap: break-word;
}

.description p {
  text-align: center;
  max-width: 30ch;
  text-align: center;
  justify-self: center;
  word-wrap: break-word;
  padding-bottom: 50px;
}

/* ----- mobile ----- */

@media (max-width: 450px) {
  .card-bg {
    background-color: var(--light-gray);
    padding: 40px;
    height: 100vh;
  display: grid;
  align-items: center;
}

.card-content {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 20px;
  max-width: 375px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: var(--white);
  border-radius: 15px;
  box-sizing: border-box;
}

.description {
  display: grid;
  gap: 15px;
}

.description h1 {
    display: block;
    font-size: 22px;
    word-wrap: break-word;
    max-width: 22ch;
}


.description p {
  margin-bottom: 20px;
  text-align: center;
  max-width: 25ch;
  justify-self: center;
  word-wrap: break-word;
}

.card-content img {
  display: block;
  max-width: 100%;
  border-radius: 10px;
}
}
